.mainContainer {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 60vw;
  height: 100vh;
  border: solid 2px;
  border-image: linear-gradient(to right, #2176d4, #79b0f0);
  border-image-slice: 1;
  position: relative;
  background-color: #2074CA;
}


/**~~~~~ Title ~~~~~**/


.title {
  display: flex;
  font-size: 50px;
  position: relative;
  left: 46%;
  width: 350%;
  top: 6%;
  border: #79b0f0 solid 2px;
  justify-content: center;
  padding: 3px;
  background-color: white;
  border-radius: 15px;
}

.gradientText {
  border: solid 4px;
  border-image: linear-gradient(to right, #7eb0e9, #c9dff7);
  border-image-slice: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}
/**~~~~~ Recommendation ~~~~~**/

.recommendationBox {
  display: flex;
  position: relative;
  left: 530px;
  top: 70%;
}

strong {
  color: #2176d4;
  border: solid 2px #2176d4;
  padding: 10px;
}
