



/**~~~~~ Text Area ~~~~~**/

.textAreaDiv {
  display: flex;
  width: 50vw;
  height: 50%;
  justify-content: flex-start / center / flex-end;
  position: relative;
  top: 30%;
  right: 11%;
}

.textArea {
  border: solid 2px;
  border-image: linear-gradient(to right, #2176d4, #79b0f0);
  border-image-slice: 1;
  width: 100%;
  color: #2176d4;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  transition: ease-in-out 3s;
  justify-content: center;
  transition: ease-in-out 3s;
  background-color: white;
  max-height: 100%;
  overflow-y: scroll;
}

.line {
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px;
  border: #2176D4 solid 2px;
  border-radius: 0px 50px 50px 0px;
  border-right: none;
  border-left: none;
  padding: 10px;
}

/**~~~~~ Buttons ~~~~~**/

.submitButton {
  display: flex;
  width: 20%;
  height: 40px;
  z-index: 10;
  position: relative;
  top: 300px;
  left: 69%;
  border: 2px solid #79b0f0;
  color: #2176D4;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 3s;
  background-color: white;
}

.submitButton:hover {
  background-color: rgb(179, 176, 176);
  color: white;
  transition: ease-in-out 3s;
}

/**~~~~~ Text Box ~~~~~**/

.textBox {
  display: flex;
  position: relative;
  top: 250px;
  right: 11%;
  width: 30%;
  height: 40px;
  border: solid 2px;
  border-image: linear-gradient(to right, #2176d4, #79b0f0);
  border-image-slice: 1;
}
