/**~~~~~ Text Area ~~~~~**/

.textAreaDiv {
  display: flex;
  width: 50vw;
  height: 50%;
  background-color: aqua;
  justify-content: flex-start / center / flex-end;
  position: relative;
  top: 30%;
  right: 11%;
}

.textArea {
  border: solid 2px;
  border-image: linear-gradient(to right, #2176d4, #79b0f0);
  border-image-slice: 1;
  width: 100%;
}

/**~~~~~ Buttons ~~~~~**/

.submitButton {
  display: flex;
  width: 20%;
  height: 40px;
  z-index: 10;
  position: relative;
  top: 300px;
  left: 69%;
  background-image: linear-gradient(to right, #2176d4, #79b0f0);
  border: 2px solid #79b0f0;
}

/**~~~~~ Text Box ~~~~~**/

.textBox {
  display: flex;
  position: relative;
  top: 250px;
  right: 11%;
  width: 30%;
  height: 40px;
  border: solid 2px;
  border-image: linear-gradient(to right, #2176d4, #79b0f0);
  border-image-slice: 1;
}
